<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homestyles.css">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container container-fluid d-flex w-100 h-100 p-3">
        <header>
            <div>
                <h3 class="float-md-start mb-0">YelpCamp</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a href="#" aria-current="page" class="nav-link active">Home</a>
                    <a href="/campgrounds" aria-current="page" class="nav-link">Campgrounds</a>
                
                    <a href="/auth/logout" class="nav-link">Logout</a>
                
                    <a href="/auth/login" class="nav-link">Login</a>
                    <a href="/auth/register" class="nav-link">Register</a>
                    
            </div>
        </header>
    </div>
    <main class="px-3 container-fluid">
        <h1>YelpCamp</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis porro reprehenderit illo rem. Fugit, sunt molestiae excepturi adipisci nam corrupti nemo, aut qui quidem distinctio provident numquam molestias amet hic.</p>
        <a href="/campgrounds" class="btn btn-lg btn-secondary fw-bold text-white bg-white">View Campgrounds</a>
    </main>
    <footer class="mt-auto text-white-50">
        <p class="text-center text-white">© 2023 YelpCamp, Inc</p>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>